# User story 2 - Load raw CSV into dataframe to explore data

In [5]:
import pandas as pd

df = pd.read_csv("../data/raw/lego_sets_raw.csv")

### View the Data

In [12]:
df.head()

,ages,list_price,num_reviews,piece_count,play_star_rating,prod_desc,prod_id,prod_long_desc,review_difficulty,set_name,star_rating,theme_name,val_star_rating,country
0,6-12,29.99,2.0,277.0,4.0,Catapult into action and take back the eggs fr...,75823.0,Use the staircase catapult to launch Red into ...,Average,Bird Island Egg Heist,4.5,Angry Birds™,4.0,US
1,6-12,19.99,2.0,168.0,4.0,Launch a flying attack and rescue the eggs fro...,75822.0,Pilot Pig has taken off from Bird Island with ...,Easy,Piggy Plane Attack,5.0,Angry Birds™,4.0,US
2,6-12,12.99,11.0,74.0,4.3,Chase the piggy with lightning-fast Chuck and ...,75821.0,Pitch speedy bird Chuck against the Piggy Car....,Easy,Piggy Car Escape,4.3,Angry Birds™,4.1,US
3,12+,99.99,23.0,1032.0,3.6,Explore the architecture of the United States ...,21030.0,Discover the architectural secrets of the icon...,Average,United States Capitol Building,4.6,Architecture,4.3,US
4,12+,79.99,14.0,744.0,3.2,Recreate the Solomon R. Guggenheim Museum® wit...,21035.0,Discover the architectural secrets of Frank Ll...,Challenging,Solomon R. Guggenheim Museum®,4.6,Architecture,4.1,US

### Data info

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12261 entries, 0 to 12260
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ages               12261 non-null  object
 1   list_price         12261 non-null  float64
 2   num_reviews        10641 non-null  float64
 3   piece_count        12261 non-null  float64
 4   play_star_rating   10486 non-null  float64
 5   prod_desc          11884 non-null  object
 6   prod_id            12261 non-null  float64
 7   prod_long_desc     12261 non-null  object
 8   review_difficulty  10206 non-null  object
 9   set_name           12261 non-null  object
 10  star_rating        10641 non-null  float64
 11  theme_name         12258 non-null  object
 12  val_star_rating    10466 non-null  float64
 13  country            12261 non-null  object
dtypes: float64(7), object(7)
memory usage: 1.3+ MB

### Description of Data

In [9]:
df.describe(include="all")

,ages,list_price,num_reviews,piece_count,play_star_rating,prod_desc,prod_id,prod_long_desc,review_difficulty,set_name,star_rating,theme_name,val_star_rating,country
count,12261,12261.000000,10641.000000,12261.000000,10486.000000,11884,1.226100e+04,12261,10206,12261,10641.000000,12258,10466.000000,12261
unique,31,NaN,NaN,NaN,NaN,731,NaN,988,5,741,NaN,40,NaN,21
top,6-12,NaN,NaN,NaN,NaN,Be a rogue with a LEGO® BrickHeadz™ constructi...,NaN,Join the LEGO® City roadwork crew and take car...,Easy,Kylo Ren™,NaN,Star Wars™,NaN,US
freq,1476,NaN,NaN,NaN,NaN,42,NaN,42,4236,63,NaN,1377,NaN,817
mean,NaN,65.141998,16.826238,493.405921,4.337641,NaN,5.983675e+04,NaN,NaN,NaN,4.514134,NaN,4.228960,NaN
std,NaN,91.980429,36.368984,825.364580,0.652051,NaN,1.638115e+05,NaN,NaN,NaN,0.518865,NaN,0.660282,NaN
min,NaN,2.272400,1.000000,1.000000,1.000000,NaN,6.300000e+02,NaN,NaN,NaN,1.800000,NaN,1.000000,NaN
25%,NaN,19.990000,2.000000,97.000000,4.000000,NaN,2.103400e+04,NaN,NaN,NaN,4.300000,NaN,4.000000,NaN
50%,NaN,36.587800,6.000000,216.000000,4.500000,NaN,4.206900e+04,NaN,NaN,NaN,4.700000,NaN,4.300000,NaN
75%,NaN,70.192200,13.000000,544.000000,4.800000,NaN,7.092200e+04,NaN,NaN,NaN,5.000000,NaN,4.700000,NaN
max,NaN,1104.870000,367.000000,7541.000000,5.000000,NaN,2.000431e+06,NaN,NaN,NaN,5.000000,NaN,5.000000,NaN

### View the nulls

In [10]:
df.isna().sum()

ages                    0
list_price              0
num_reviews          1620
piece_count             0
play_star_rating     1775
prod_desc             377
prod_id                 0
prod_long_desc          0
review_difficulty    2055
set_name                0
star_rating          1620
theme_name              3
val_star_rating      1795
country                 0
dtype: int64