# User stroy 3 - clean numeric

In [ ]:
import pandas as pd

df = pd.read_csv("../data/raw/lego_sets_raw.csv")

In [46]:
df1 = pd.read_csv("../data/processed/lego_clean.csv")

df1.dtypes
df1.isna().sum()

ages                    0
list_price              0
num_reviews             0
piece_count             0
play_star_rating     1775
prod_desc             377
prod_id                 0
prod_long_desc          0
review_difficulty    2055
set_name                0
star_rating          1620
theme_name              3
val_star_rating      1795
country                 0
age_min                 0
age_max                 0
dtype: int64

In [ ]:
df["num_reviews"].unique()[:30]

### All numeric columns

In [52]:
numeric_like_cols = [
    "ages",
    "list_price",
    "num_reviews",
    "piece_count",
    "play_star_rating",
    "prod_id",
    "star_rating",
    "val_star_rating",
]

df[numeric_like_cols].head()

,ages,list_price,num_reviews,piece_count,play_star_rating,prod_id,star_rating,val_star_rating
0,6-12,29.99,2,277.0,4.0,75823.0,4.5,4.0
1,6-12,19.99,2,168.0,4.0,75822.0,5.0,4.0
2,6-12,12.99,11,74.0,4.3,75821.0,4.3,4.1
3,12+,99.99,23,1032.0,3.6,21030.0,4.6,4.3
4,12+,79.99,14,744.0,3.2,21035.0,4.6,4.1

## Ages

In [ ]:
df["ages"].unique()[:30]

#### replace 1/2 with .5

In [ ]:
ages_clean = df["ages"].astype(str).str.replace("½", ".5", regex=False)
# ages_clean.head()

#### Extract ranges 6-99

In [ ]:
range_extract = ages_clean.str.extract(r"(?P<age_min>\d+\.?\d*)-(?P<age_max>\d+\.?\d*)")
# range_extract.head()

#### Extract singles 6+

In [ ]:
single_extract = ages_clean.str.extract(r"(?P<age_min>\d+\.?\d*)\+?")
# single_extract.head()

#### code to change everything

In [ ]:
# create min age
df['age_min'] = pd.to_numeric(range_extract['age_min'].fillna(single_extract['age_min']), errors='coerce')

df['age_max'] = pd.to_numeric(range_extract['age_max'], errors='coerce')

df.loc[ages_clean.str.contains(r"\+$", regex=True), "age_max"] = 99

# df[["ages", "age_min", "age_max"]].sample(20)

#### Check to see if pipeline worked

In [ ]:
df = pd.read_csv("../data/processed/lego_clean.csv")
# df[["ages", "age_min", "age_max"]].sample(20)

# List Price

In [ ]:
df["list_price"] = pd.to_numeric(df["list_price"], errors="coerce")

df["list_price"] = df["list_price"].round(2)

# Num Reviews

In [ ]:
df["num_reviews"] = pd.to_numeric(df["num_reviews"], errors="coerce")

df["num_reviews"] = df["num_reviews"].fillna(0)

df["num_reviews"] = df["num_reviews"].astype(int)

# Prod_id

In [ ]:
df.duplicated().sum()

In [ ]:
df[df.duplicated(keep=False)].sort_values(by="prod_id")

In [43]:
df[df["prod_id"].duplicated(keep=False)].sort_values(by="prod_id")

,ages,list_price,num_reviews,piece_count,play_star_rating,prod_desc,prod_id,prod_long_desc,review_difficulty,set_name,star_rating,theme_name,val_star_rating,country,age_min,age_max
7918,4+,3.04,180,1.0,4.0,Everyone needs one!,630.0,This tool makes it a snap to pull those small ...,Very Easy,Brick Separator,4.8,Classic,4.6,IE,4.0,99.0
5679,4+,3.04,180,1.0,4.0,Everyone needs one!,630.0,This tool makes it a snap to pull those small ...,Very Easy,Brick Separator,4.8,Classic,4.6,ES,4.0,99.0
9040,4+,3.04,180,1.0,4.0,Everyone needs one!,630.0,This tool makes it a snap to pull those small ...,Very Easy,Brick Separator,4.8,Classic,4.6,LU,4.0,99.0
133,4+,2.49,180,1.0,4.0,Everyone needs one!,630.0,This tool makes it a snap to pull those small ...,Very Easy,Brick Separator,4.8,Classic,4.6,US,4.0,99.0
4006,4+,3.31,180,1.0,4.0,Everyone needs one!,630.0,This tool makes it a snap to pull those small ...,Very Easy,Brick Separator,4.8,Classic,4.6,CZ,4.0,99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12116,6+,683.19,8,2455.0,3.7,NaN,2000431.0,The LEGO® SERIOUS PLAY® program is a radical a...,Average,Connections Kit,3.4,SERIOUS PLAY®,2.9,PT,6.0,99.0
5437,6+,499.20,8,2455.0,3.7,NaN,2000431.0,The LEGO® SERIOUS PLAY® program is a radical a...,Average,Connections Kit,3.4,SERIOUS PLAY®,2.9,DN,6.0,99.0
2381,6+,683.19,8,2455.0,3.7,NaN,2000431.0,The LEGO® SERIOUS PLAY® program is a radical a...,Average,Connections Kit,3.4,SERIOUS PLAY®,2.9,BE,6.0,99.0
6537,6+,683.19,8,2455.0,3.7,NaN,2000431.0,The LEGO® SERIOUS PLAY® program is a radical a...,Average,Connections Kit,3.4,SERIOUS PLAY®,2.9,FI,6.0,99.0
8248,6+,683.19,8,2455.0,3.7,NaN,2000431.0,The LEGO® SERIOUS PLAY® program is a radical a...,Average,Connections Kit,3.4,SERIOUS PLAY®,2.9,IE,6.0,99.0

# Star_rating

In [51]:
df["val_star_rating"].unique()

array([4. , 4.1, 4.3, 4.4, 4.5, 3.6, 4.2, 3.5, 4.8, 5. , nan, 4.7, 3. ,
       4.6, 4.9, 3.8, 3.3, 2.5, 2.7, 2.2, 2.3, 2.8, 2. , 2.9, 3.2, 3.9,
       3.4, 2.6, 3.7, 1. , 1.8, 2.4, 1.9, 3.1])

In [50]:
df["val_star_rating"].dtype

dtype('float64')